body {
    font-family: Arial, sans-serif;
}

h2 {
    text-align: center;
    color: #4cb543;
}

.linea-tiempo {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #a7dc16;
}

.linea-tiempo::after {
    content: '';
    position: absolute;
    width: 6px;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

.contenedor-izquierda, .contenedor-derecha {
    padding: 10px 40px;
    position: relative;
    width: 50%;
}

.contenedor-izquierda {
    left: 0;
}

.contenedor-derecha {
    left: 50%;
}

.contenido {
    padding: 20px;
    background-color: white;
    position: relative;
    border-radius: 6px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.contenedor.izquierda .contenido {
    margin-left: 30px;
}
.contenedor.derecha .contenido {
    margin-right: 30px;
}
.fecha {
    font-size: 1.2em;
    margin-bottom: 10px;
    font-weight: bold;
}
h2 {
    text-align: center;
}
